*{
    margin: 0;
    padding: 0;
}
body{
    background: #e9fcf4;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                        "contenido contenido aside"
                        "widget-1 widget-2 aside"
                        "footer footer footer";
}
.container>div,
.container .header,
.container .contenido,
.container .sidebar,
.container .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}
.container .header{
    background: #12203e;
    color: #fff;
    grid-area: header;
}
.container .contenido{
    grid-area: contenido;
}
.container .sidebar{
    grid-area: aside;
}
.container .widget-1{
    grid-area: widget-1;
}
.container .widget-2{
    grid-area: widget-2;
}
.container .footer{
    grid-area: footer;
}
@media screen and (max-width: 768px){
    .container{
        grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "aside aside aside"
                        "widget-1 widget-2 widget-2"
                        "footer footer footer";
    }
}
@media screen and (max-width: 375px){
    .container{
        grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "aside aside aside"
                        "widget-1 widget-1 widget-1"
                        "widget-2 widget-2 widget-2"
                        "footer footer footer";
    }
}