body{
    background: #e9fcf4;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    background: #12203e;
    color: #fff;
}
.header,
.contenido,
.sidebar,
.widget-1,
.widget-2,
.footer{
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.contenido,
.sidebar,
.widget-1,
.widget-2,
.footer{
    background: #ffffff;
}